<footer class="page-footer font-small">
    <div class="row d-flex align-items-center">
        <div class="col-lg-4"></div>
        <div class="col-md-6 col-lg-4 text-center py-3">© 2018-{{year}}
          <a routerLink="/"> Анималик</a>
        </div>
        <div class="col-md-6 col-lg-4 social">
            <a><img src="../../../../assets/pictures/facebook-brands.svg"></a>
            <a><img src="../../../../assets/pictures/twitter-brands.svg"></a>
            <a><img src="../../../../assets/pictures/instagram-brands.svg"></a>
        </div>
    </div>
</footer>