ul > li {
    list-style: none;
}

.main {
    margin-top: 60px;
    padding-bottom: 40px;
    background: rgb(255, 255, 255);
}

.main .container {
    display: block;
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 15px;
}

.main .container .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.main .container .row .inner-row {
    left: 25%;
    width: 75%;
    margin: 2.5rem auto;
}

.main .container .row .inner-row .products-list {
    margin: 0 -15px 15px -15px;
    padding: 0;
}

.main .container .row .inner-row .products-list .items-col:nth-child(3n+1) {
    clear: both;
}

.main .container .row .inner-row .products-list .items-col {
    width: 33.33333%;
    position: relative;
    float: left; /*za da sa po 3 na red*/
}

@media screen and (max-width: 1000px) {
    .main .container .row .inner-row .products-list .items-col {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .main .container .row .inner-row .products-list .items-col {
        width: 100%;
    }

    .main .container .row .inner-row {
        width: 90%;
    }
}

@media screen and (max-width: 1000px) {
    .items-col:nth-child(2n+1) {
        clear: both;
    }

    .items-col:nth-child(3n+1) {
        clear: none;
    }
}

@media screen and (max-width: 600px) {
    .inner-row {
        width: 90%;
    }
}

.wrapper-item {
    position: relative;
    margin: 0 auto;
    padding: 0 15px;
}

.product-image-link {
    display: block;
    transition: all ease-in-out 0.2s;
    text-decoration: none;
    touch-action: manipulation;
    overflow: hidden;
}

.product-image.front {
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease;
}

img {
    max-width: 100%;
    border: 0;
}

.product-image.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 0.6s ease;
}

.wrapper-item-inner:hover.image-overlay,
.wrapper-item-inner:hover.product-image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(39, 39, 39);
    opacity: 0;
    z-index: 2;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* dobavih*/
.wrapper-item-inner:hover .back,
.wrapper-item-inner:focus .back {
    transform: translateX(0);
    transform: translateY(0);
    z-index: 2;
}

/*dobavih*/
.wrapper-item-inner:hover .front,
.wrapper-item-inner:focus .front {
    transform: translateX(100%);
    transform: translateY(-100%);
}

.wrapper-item-inner:hover .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(39, 39, 39, 0.6);
    z-index: 2;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.product-info {
    position: relative;
    text-align: center;
    padding-bottom: 15px;
}

.product-name {
    letter-spacing: 2px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: normal;
    margin: 0;
    padding: 15px 0;
    max-height: 61px;
    overflow: hidden;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.product-name a {
    display: block;
    text-transform: inherit;
    transition: all ease-in-out 0.2s;
    color: rgb(63, 63, 63);
    text-decoration: none;
    touch-action: manipulation;
    background: 0 0;
}

.price-box {
    font-size: 0.833em;
    margin: 15px 0;
    line-height: 0;
}

.price {
    font-size: 1em;
    line-height: normal;
    color: rgb(145, 121, 43);
}

.product-info::before {
    display: table;
    content: '';
}

.product-info::after {
    display: table;
    content: '';
    clear: both;
}

.wrapper-item-inner,
.product-image-container,
.product-image-link {
    position: relative;
}