$sizing-fs-phone: 14px;
$sizing-fs-tablet: 16px;
$sizing-fs-laptop: 16px;
$sizing-fs-desktop: 18px;
$sizing-fs-huge: 21px;

$sizing-ws-base: 1.5em;

$color-navigation-text: rgb(255, 255, 255);
$color-banner-text: rgb(255, 255, 255);
$color-card-links: rgb(255, 255, 255);

$main-border-radius: 0.4rem;

$icon-size: 1rem;