<section class="home-container">
    <section class="info-container">
        <header class="header-info-container">
        <h1 class="title">Animalia</h1>
        <p>Ние знаем всичко за вашия домашен любимец</p>
        </header>
        <footer class="home-button">
            <a class="button button-primary" href="#">button one</a>
        </footer>
    </section>
    <div class="header-arrow">
        <a id="scrollDownArrow" href="#about-us-container">
            <img src="../../../assets/pictures/chevron-down-solid.svg" alt="chevron-down">
        </a>
    </div>
</section>
<a id="back-to-top-arrow" class="back-to-top scroll-link" appBackToTop>
    <svg class="icon icon-arrow-up">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-up">
        <svg id="icon-arrow-up" viewBox="0 0 1489 1024" width="100%" height="100%">
          <title>arrow-up</title>
          <path class="path1" d="M1186.251 890.277l-441.599-446.717-441.599 446.717c-69.413 69.413-181.72 69.413-251.133 0-69.041-70.157-69.413-183.581 0-253.738l567.398-572.795c69.041-69.413 181.72-69.413 251.133 0l567.026 572.795c69.32 70.157 69.32 183.581-0.093 253.738-69.413 69.413-181.72 69.413-251.133 0z"></path>
        </svg>
      </use>
    </svg>
</a>
<section class="partners">
    <ul class="list-partners">
        <li class="list-item">
            <img src="https://www.purina.bg/sites/g/files/mcldtz1386/files/styles/medium/public/template/logos/purina_logo_bg_2.png?itok=khWp0jqL" alt="Partner logo">
        </li>
        <li class="list-item">
            <img src="https://lapichki.com/themes/ob6ti/logo.png" alt="Partner logo">
        </li>
        <li class="list-item">
            <img src="https://d1a19ys8w1wkc1.cloudfront.net/logo--animated.svg?v=8-9-9" alt="Partner logo">
        </li>
    </ul>
</section>
<section id="about-us-container" class="about-us-container">
    <section class="about-us-inner-container">
        <section class="about-us-row">
            <article class="about-us-text">
                <header>
                    <h3 class="info-title">За нас</h3>
                </header>
                <main>
                    <p>Зад този уебсайт стоим трима любители на животните. Ние посвещаваме свободното си време в следене на събития, изготвяне на статии и подръжка на уебсайта, за да могат нашите читатели, които приемаме за наши приятели да направят информиран избор на домашен любимец.</p>
                </main>
                <footer>
                    <a routerLink="/fragrances" class="button">Discover</a>
                </footer>
            </article>
            <article class="about-us-picture">
                <picture>
                    <img src="https://images.unsplash.com/photo-1591017320663-dc3334ff1dcc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" alt="about-us-image">
                </picture>
            </article>
        </section>
        <section class="about-us-row info-text-right">
            <article class="about-us-text">
                <header>
                    <h3 class="info-title">Ветеринари</h3>
                </header>
                <main>
                    <p>В нашия уебсайт ще откриете списък на ветеринарни лекари с добра репутация и доказан професионализъм.</p>
                </main>
                <footer>
                    <a routerLink="/fragrances" class="button">Discover</a>
                </footer>
            </article>
            <article class="about-us-picture">
                <picture>
                    <img src="https://images.unsplash.com/photo-1582569876654-0db2708e614a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" alt="about-us-image">
                </picture>
            </article>
        </section>
        <section class="about-us-row">
            <article class="about-us-text">
                <header>
                    <h3 class="info-title">Събития</h3>
                </header>
                <main>
                    <p>Тук ще откриете програмата на всички събития в страната свързани с домашните любимци.</p>
                </main>
                <footer>
                    <a routerLink="/fragrances" class="button">Discover</a>
                </footer>
            </article>
            <article class="about-us-picture">
                <picture>
                    <img src="https://images.unsplash.com/photo-1508948956644-0017e845d797?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=832&q=80" alt="about-us-image">
                </picture>
            </article>
        </section>
        <section class="about-us-row info-text-right">
            <article class="about-us-text">
                <header>
                    <h3 class="info-title">Интересно</h3>
                </header>
                <main>
                    <p>В нашия уебсайт ще откриете новини и статии за нашите домашни любимци.</p>
                </main>
                <footer>
                    <a routerLink="/fragrances" class="button">Discover</a>
                </footer>
            </article>
            <article class="about-us-picture">
                <picture>
                    <img src="https://images.unsplash.com/photo-1497008386681-a7941f08011e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" alt="about-us-image">
                </picture>
            </article>
        </section>
        <section class="about-us-row">
            <article class="about-us-text">
                <header>
                    <h3 class="info-title">Зоомагазини</h3>
                </header>
                <main>
                    <p>В нашия уебсайт ще откриете списък на зоомагазини, чиито служители се отнасят добре с клиентите и животните и където ще намерите всичко необходимо за нашите най-добри приятели, животните.</p>
                </main>
                <footer>
                    <a routerLink="/fragrances" class="button">Discover</a>
                </footer>
            </article>
            <article class="about-us-picture">
                <picture>
                    <img src="https://images.unsplash.com/photo-1591978050254-0eca2eedf5fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=831&q=80" alt="about-us-image">
                </picture>
            </article>
        </section>
    </section>
</section>

<app-team></app-team>