<section class="home-container">
    <section class="info-container">
        <header class="header-info-container">
        <h1 class="title">Animalia</h1>
        <p>Ние знаем всичко за вашия домашен любимец</p>
        </header>
        <footer class="home-button">
            <a class="button button-primary" href="#">button one</a>
        </footer>
    </section>
</section>
<section class="partners">
    <ul class="list-partners">
        <li class="list-item">
            <img src="https://www.purina.bg/sites/g/files/mcldtz1386/files/styles/medium/public/template/logos/purina_logo_bg_2.png?itok=khWp0jqL" alt="Partner logo">
        </li>
        <li class="list-item">
            <img src="https://lapichki.com/themes/ob6ti/logo.png" alt="Partner logo">
        </li>
        <li class="list-item">
            <img src="https://d1a19ys8w1wkc1.cloudfront.net/logo--animated.svg?v=8-9-9" alt="Partner logo">
        </li>
    </ul>
</section>