/* *, *::before, *::after {
    box-sizing: inherit;
}

.MuiGrid-grid-xs-12 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
}

.MuiGrid-item {
    margin: 0;
    box-sizing: border-box;
}

.MuiPaper-elevation1 {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08);
}

.MuiPaper-rounded {
    border-radius: 4px;
}

.MuiPaper-root {
    color: rgb(25, 25, 25);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: rgb(255, 255, 255);
}

.MuiGrid-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}

.MuiGrid-grid-xs-3 {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
}

.react-swipeable-view-container {
    height: 100%;
}

.MuiGrid-justify-xs-center {
    justify-content: center;
}

.gNuPOy {
    background-image: url(https://static.locktrip.com/cdn-cgi/image/width=400,height=400/https://static.locktrip.com/gmx/full/697c85ae-1a74-445e-b50c-050ece0585bf.jpeg);
    height: 0px;
    padding-bottom: 75%;
    background-size: cover;
    background-position: center center;
    background-color: lightgray;
}

.gNVfZu {
    height: 18px;
    width: 18px;
    cursor: pointer;
    border: 0px;
    background: none;
    padding: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.hJtQFc {
    background-color: white;
    opacity: 1;
    height: 8px;
    width: 8px;
    border-radius: 4px;
}

.bOGJLY {
    background-color: white;
    opacity: 0.6;
    height: 6px;
    width: 6px;
    border-radius: 3px;
}

.jogLge {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    top: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    display: flex;
    width: 25%;
    max-width: 100px;
    cursor: pointer;
    z-index: 9999;
}

.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

:not(svg) {
    transform-origin: 0px 0px;
}

.ddjmfG {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    top: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    display: flex;
    width: 25%;
    max-width: 100px;
    cursor: pointer;
}

.ddjmfG:hover {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
}

.jogLge:hover {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
}

path[Attributes Style] {
    fill: none;
    d: path("M 0 0 h 24 v 24 H 0 Z");
} */




/* external css: flickity.css */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
body {
  align-content: center;
  background: #F2F2F2;
  display: flex;
  font-family: Arial;
  justify-content: center;
  min-height: 100vh;
}

.content {
  background-color: #FFFFFF;
  height: 70%;
  margin-top: 4rem;
  padding: 2rem;
}

.slides {
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 800px;
}

.slide {
  align-content: center;
  background: #6E6E6E;
  color: white;
  display: grid;
  font-family: arial;
  font-size: 5em;
  height: 100%;
  justify-content: center;
  position: absolute;
  transform: translateX(-200%);
  transition: all .25s;
  width: 100%;
}

.slide.next + .slide {
  transform: translateX(200%);
}

.slide.prev {
  transform: translateX(-100%);
  z-index: 10;
}
.slide.current {
  transform: translateX(0);
  z-index: 10;
}
.slide.next {
  transform: translateX(100%);
  z-index: 10;
}

.controls {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  justify-content: center;
  padding: 2rem;
}

.button {
  background-color: transparent;
  border: none;
  border-color: #1849AB;
  border-radius: 4px;
  color: #1849AB;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 1rem;
  padding: .5rem 1rem;
  text-align: center;
  vertical-align: middle;
}

.button.button--main {
  background-color: #1849AB;
  border-color: #1849AB;
  color: #fff;
}

.button:focus {
  box-shadow: 0 0 0 4px rgba(21, 156, 228, 0.7);
  outline: none;
}
