<main id="main">
    <section>
        <section class="section-product-details">
            <section class="page-container">
                <section class="row">
                    <article class="image-wrapper">
                        <section class="inner-image-wrapper">
                            <section class="image-container">
                                <article>
                                    <img class="product-image" src="{{ pet.imageSrc }}" />
                                </article>
                            </section>
                        </section>
                    </article>
                    <article class="details-wrapper">
                        <header class="details-header-container">
                            <h3 class="product-title">{{ pet.breed }}</h3>
                        </header>
                        <main class="details-main-container">
                            <dl class="characteristics-section">
                                <dt>
                                    <h6 class="section-title" *ngIf="pet.type === 'dog'">Пазач</h6>
                                    <h6 class="section-title" *ngIf="pet.type === 'cat'">Държава</h6>
                                </dt>
                                <dd class="characteristic" *ngIf="pet.type === 'dog'"><p>{{ pet.guard.charAt(0).toLowerCase() + pet.guard.slice(1) }}</p></dd>
                                <dd class="characteristic" *ngIf="pet.type === 'cat'"><p>{{ pet.country }}</p></dd>
                            </dl>
                            <dl class="characteristics-section">
                                <dt>
                                    <h6 class="section-title" *ngIf="pet.type === 'dog'">Група</h6>
                                    <h6 class="section-title" *ngIf="pet.type === 'cat'">Размер</h6>
                                </dt>
                                <dd class="characteristic" *ngIf="pet.type === 'dog'"><p>{{ pet.group }}</p></dd>
                                <dd class="characteristic" *ngIf="pet.type === 'cat'"><p>{{ pet.size }}</p></dd>
                            </dl>
                            <dl class="characteristics-section">
                                <dt>
                                    <h6 class="section-title">Средна продължителност на живота</h6>
                                </dt>
                                <dd class="characteristic"><p>{{ pet.averageLifeExpectancy }}</p></dd>
                            </dl>
                            <dl class="characteristics-section">
                                <dt>
                                    <h6 class="section-title">Козина</h6>
                                </dt>
                                <dd class="characteristic"><p>{{ pet.petCoat }}</p></dd>
                            </dl>
                            <dl class="characteristics-section">
                                <dt>
                                    <h6 class="section-title">Важни факти</h6>
                                </dt>
                                <dd class="characteristic">
                                    <ul>
                                        <li class="list-item">{{ pet.fact1 }}</li>
                                        <li class="list-item">{{ pet.fact2 }}</li>
                                        <li class="list-item">{{ pet.fact3 }}</li>
                                    </ul>
                                    <!-- <span><img class="characteristic-img" src="../../../../assets/pictures/tree-solid.svg" alt="tree-icon">Изискват пространство навън.</span> -->
                                </dd>
                                <!-- <dd class="characteristic">
                                    <p><img class="characteristic-img" src="../../../../assets/pictures/futbol-solid.svg" alt="sport-icon">Чудесно спортно куче.</p>
                                </dd>
                                <dd class="characteristic">
                                    <span><img class="characteristic-img" src="../../../../assets/pictures/home-solid.svg" alt="home-icon">Чудесно семейно куче</span>
                                </dd> -->
                            </dl>
                        </main>
                    </article>
                </section>
            </section>
        </section>
        <section class="description">
            <header>
                <h5 class="description-title">Описание</h5>
            </header>
            <main>
                <p>{{ pet.description }}</p>
            </main>
        </section>
    </section>
</main>