<main id="main">
    <section>
        <section class="section-product-details">
            <section class="page-container">
                <section class="row">
                    <article class="image-wrapper">
                        <section class="inner-image-wrapper">
                            <section class="image-container">
                                <article>
                                    <img class="product-image" src="https://www.purina.bg/sites/g/files/mcldtz1386/files/2018-02/australian_shepherd_400x378_2.jpg" />
                                </article>
                            </section>
                        </section>
                    </article>
                    <article class="details-wrapper">
                        <header class="details-header-container">
                            <h3 class="product-title">Test</h3>
                        </header>
                        <main class="details-main-container">
                            <dl>
                                <dt class="notes-section">
                                    <h6 class="section-title">Notes</h6>
                                </dt>
                                <dd class="notes"><p>bla, bla</p></dd>
                            </dl>
                            <section class="product-price-container">€ 514.99 EUR</section>
                            <section class="product-quantity-container">
                                <span class="product-quantity-inner-container">
                                <input type="number" class="quantity" value="1">
                                    <span class="increase-btn"></span>
                                    <span class="decrease-btn"></span>
                                </span>
                            </section>
                            <section class="btn-container">
                                <a class="button">Add to cart</a>
                            </section>
                        </main>
                    </article>
                </section>
            </section>
        </section>
        <section class="description">
            <header>
                <h5 class="description-title">Description</h5>
            </header>
            <main>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium soluta pariatur laboriosam enim harum ratione totam possimus ea eveniet sequi velit quae ab, dolorum libero quia iusto mollitia, qui obcaecati?</p>
            </main>
        </section>
    </section>
</main>