#main {
    display: block;
}

.section-product-details {
    padding-top: 6rem;
    padding-bottom: 1rem;
}

.page-container {
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 30px 0 30px;
    position: relative;
}

@media screen and (min-width: 1024px) {
    .page-container {
        padding: 5rem 30px 0 30px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.image-wrapper {
    width: 100%;
    position: relative;
    padding: 0 10px;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    .image-wrapper {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
        margin-left: 8.33333%;
        margin-bottom: 0;
    }
}

.inner-image-wrapper {
    flex-shrink: 0;
    width: 40vw;
    height: auto;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    list-style: none;
    z-index: 1;
}

@media screen and (max-width: 600px) {
    .inner-image-wrapper {
        width: 20rem;
    }
}

@media screen and (min-width: 1024px) {
    .inner-image-wrapper {
        padding: 0 0 75px;
    }
}

.image-container {
    display: block;
    position: relative;
    width: 100%;
    max-width: 60em;
    margin: 1em auto;
}

.product-image {
    width: 100%;
}

.details-wrapper {
    width: 100%;
    padding: 0 10px 3.8rem 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    .details-wrapper {
        flex: 0 0 33.33337%;
        max-width: 33.33337%;
        margin-left: 8.33333%;
    }
}

.details-header-container,
.details-main-container {
    text-align: center;
}

.details-header-container .product-title {
    margin: 0 0 20px;
}

.details-main-container dl,
.details-main-container dd {
    margin-bottom: 0;

    p {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.characteristics-section dt {
    width: 80%;
    margin: 1.5rem auto 0.5rem auto;
    border-bottom: 1px dashed rgb(0, 0, 0);
}

.characteristic {
    display: inline-block;
    text-align: center;

    .list-item {
        list-style: none;
        text-align: left;
        padding-bottom: 0.5rem;
    }
}

.section-title {
    font-weight: bold;
}

.description {
    text-align: center;
    padding: 0 15%;
}

.description-title {
    font-weight: bold;
    margin-bottom: 1rem;
}

.description main p {
    text-align: justify;
}