<main class="banners">
    <a routerLink="/pets/dogs">
        <section class="banner dogs">
            <div class="banner-content">
                <h1 class="banner-title">кучета</h1>
                <span></span>
            </div>
        </section>
    </a>
    <a routerLink="/pets/cats">
        <section class="banner cats">
            <div class="banner-content">
                <h1 class="banner-title">котки</h1>
                <span></span>
            </div>
        </section>
    </a>
</main>
<app-team></app-team>