<article>
    <section class="team-container">
        <article class="team-inner-container">
            <header>
                <h3>екип</h3>
            </header>
            <main class="row">
                <article class="team-member">
                    <a>
                        <picture>
                            <img src="../../../../assets/pictures/boris_photo.jpg" alt="pic1">
                        </picture>
                    </a>
                    <footer class="team-member-data">
                        <a>Борис Лечев</a>
                        <div>Тел: 0888888888</div>
                        <div>Mail: boris@animalia.bg</div>
                    </footer>
                </article>
                <article class="team-member">
                    <a>
                        <picture>
                            <img src="../../../../assets/pictures/ivelina_photo.jpg" alt="pic2">
                        </picture>
                    </a>
                    <footer class="team-member-data">
                        <a>Ивелина Ивова</a>
                        <div>Тел: 0888888888</div>
                        <div>Mail: ivelina@animalia.bg</div>
                    </footer>
                </article>
                <article class="team-member">
                    <a>
                        <picture>
                            <img src="../../../../assets/pictures/viktor_photo.jpg" alt="pic3">
                        </picture>
                    </a>
                    <footer class="team-member-data">
                        <a>Виктор Колев</a>
                        <div>Тел: 0888888888</div>
                        <div>Mail: viktor@animalia.bg</div>
                    </footer>
                </article>
            </main>
        </article>
    </section>
</article>