<article>
    <section class="testimonials-container">
        <article class="testimonials-inner-container">
            <header>
                <h3>екип</h3>
            </header>
            <main class="row">
                <article class="testimonial">
                    <a>
                        <picture>
                            <img src="https://res.cloudinary.com/pictures-storage/image/upload/v1588236082/product_images/y4s9zafdl1plu7ieaiuo.png" alt="pic1">
                        </picture>
                    </a>
                    <footer class="author">
                        <a>Борис Лечев</a>
                    </footer>
                </article>
                <article class="testimonial">
                    <a>
                        <picture>
                            <img src="https://res.cloudinary.com/pictures-storage/image/upload/v1588235375/product_images/nsztdqfg2cvwz4fnip5q.png" alt="pic2">
                        </picture>
                    </a>
                    <footer class="author">
                        <a>Ивелина Ивова</a>
                    </footer>
                </article>
                <article class="testimonial">
                    <a>
                        <picture>
                            <img src="https://res.cloudinary.com/pictures-storage/image/upload/v1588236164/product_images/aamq64g9uwnwk50hbk0o.png" alt="pic3">
                        </picture>
                    </a>
                    <footer class="author">
                        <a>Виктор Колев</a>
                    </footer>
                </article>
            </main>
        </article>
    </section>
</article>